@charset "utf-8";
#bannerSwiper {
    width: 7.4rem;
    margin-top: 0.05rem;
    margin-bottom: 0.3rem;
}
#bannerSwiper .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.5;
    margin: 0 2px;
}
#bannerSwiper .swiper-pagination-bullet-active {
    background-color: #0086ce;
}
#bannerSwiper .swiper-pagination.swiper-pagination-bullets {
    bottom: 0.15rem;
    padding-right: 0.2rem;
    text-align: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.swiper-slide a {
    display: block;
}
.swiper-slide a img {
    display: block;
    width: 7.4rem;
}
.kd-item {
    margin-bottom: 0.7rem;
    padding: 0 0.2rem;
}
.kd-title {
    height: 0.3rem;
    width: 100%;
    margin-bottom: 0.6rem;
    background-image: url("../images/title_01.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 7.5rem 1.2rem;
}
.kd-content .icon {
    display: flex;
    display: -webkit-flex;
    width: 25%;
    justify-content: center;
    
    
}
.kd-content .icon a {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.kd-content .icon i {
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.2rem;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}
.kd-content .icon span {
    font-size: 0.24rem;
    color: #333333;
}
.kd-content .icon i.icon_01 {
    background-image: url("../images/icon_01.png");
}
.kd-content .icon i.icon_02 {
    background-image: url("../images/icon_02.png");
}
.kd-content .icon i.icon_03 {
    background-image: url("../images/icon_03.png");
}
.kd-content .icon i.icon_04 {
    background-image: url("../images/icon_04.png");
}
.kd-content .icon i.icon_05 {
    background-image: url("../images/icon_05.png");
}
.kd-content .icon i.icon_06 {
    background-image: url("../images/icon_06.png");
}
.kd-content .icon i.icon_07 {
    background-image: url("../images/icon_07.png");
}
.kd-content .icon i.icon_08 {
    background-image: url("../images/icon_08.png");
}
.kd-content .icon i.icon_09 {
    background-image: url("../images/icon_09.png");
}
.kd-content .icon i.icon_10 {
    background-image: url("../images/icon_10.png");
}
.kd-content .icon i.icon_11 {
    background-image: url("../images/icon_11.png");
}
.kd-content .icon i.icon_12 {
    background-image: url("../images/icon_12.png");
}
.kd-title_01 {
    background-position: 0 0;
}
.kd-title_02 {
    background-position: 0 -0.3rem;
}
.kd-title_03 {
    background-position: 0 -0.6rem;
}
.kd-title_04 {
    background-position: 0 -0.9rem;
}